@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Montserrat:wght@300;400;500&family=Pacifico&family=Ubuntu:wght@400;500;700&display=swap');

@import url('https://fonts.cdnfonts.com/css/cursed-timer-ulil');
                

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root{
    --white:#fff;
    --black:#000;
    --para:#777;
}

html{
    font-size: 62.5%;
    /* overflow-x: hidden; */
}

 body{
    /* overflow-x: hidden; */
    /* height: 100vh; */
} 

h1,h2,h3,h4,h5,h6{
    font-family: 'Ubuntu', sans-serif;
}

h1{
    color: var(--black);
    font-size: 4rem;
    font-weight: bolder;
}

h3{
    font-size: 1.8rem;
    font-weight: 400;
}

p{
    color: var(--para);
    line-height: 1.6;
    font-size: 1.6rem;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}


.section{
    padding: 9rem 0;
}

.container{
    max-width: 140rem;
    margin: 0 auto;
} 


body{
    background-color: #d2cfc94f;
}


.player-box{
    display: grid;
    place-items: center;
    height: 100vh;
}

.inner-box{
    background-color: white;
    border-radius: 20px;

}



.player-col{
    display: flex;
    height: 45rem;
    width: 35rem;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.img-box{
    padding: 1rem 0;
}

.rotate img{
    animation: rotate 10s linear infinite forwards;
}

@keyframes rotate{
    /* 0%{
        transform: rotate(0deg);
    } */

    100%{
        transform: rotate(360deg);
    }
}

.img-box img{
    width:15rem;
    height: 15rem;
    border-radius: 50%;
}


.headings{
    text-align: center;
    padding: 2rem 0;
}


.head{
    font-size: 2.5rem;
    text-transform: uppercase;
}


.controls-layout{
    padding: 2rem 0;
    width: 100%;
    text-align: center;
}


.numbers{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.numbers>*{
    font-size: 1.2rem;
    font-weight: 800;
    color: #555;
}

.player-bar{
    margin-bottom: 1rem;
}

.progress-bar{
    height: 0.5rem;
    background:#d2cfc94f;
    -webkit-appearance: none;
    width: 100%;
    border-radius: 150px;
    transition: all 400ms linear;
}

.progress-bar .progress-fill{
    -webkit-appearance: none;
    transition: all 400ms linear;
    background-color: red;
    border-radius: 150px;
    width: 0%;
    height: 100%;
}


/* #progress-bar::-webkit-slider-thumb{
} */

.controls{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.controls ion-icon{
    width: 3rem;
    height: 3rem;
    cursor: pointer;
}


.play{
    background-color: #000;
    border-radius: 50%;
    cursor: pointer;
    padding:1rem 1.1rem;
}


.play ion-icon{
    color: white;
}

.play ion-icon[name="pause"]{
    display: none;
}

.active ion-icon[name="play"]{
    display: none;
}

.active ion-icon[name="pause"]{
    display: block;
}
